/*
.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --color-red: #C7352A;
  --color-blue: #2FA7B0;
  --color-orange: #E79A4B;
  --color-orange-dark: #ff5416;

  --font-text: "Montserrat", sans-serif;
  /*--font-text2: "Source Sans 3", sans-serif;*/
  --font-text2: "Source Sans 3", sans-serif;
}

body {
  margin: 0;
  /*background-color: blanchedalmond;*/
}

p {
  font-family: var(--font-text);
}

.btn-cta {
  background-color: var(--color-orange-dark);
  border: 0 solid;
  border-radius: .7rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: small;
}

.header {
  width: 100%;
  position: relative;
}

.header-imgs {
  display: flex;
  width: 100%;
}

.header .header-nav {
  width: 60%;
}

.header .header-nav .header-nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5rem;
  margin-top: 4.5rem;
}

.header .header-nav nav {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}


.header-bg {
  position: absolute;
  width: 75%;
  margin-left: 25%;
  top: 0;
  z-index: -10;
  opacity: .8;

  -webkit-mask-image: linear-gradient(to bottom,
      black 0px,
      black 60%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%), linear-gradient(to left,
      black 0%,
      black 35%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
    );

  -webkit-mask-composite: destination-in;


  mask-image: linear-gradient(to bottom,
      black 0px,
      black 60%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%), linear-gradient(to left,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.header-bg-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
  opacity: .4;
}

.header .logo {
  width: 150px;
  height: 150px;
  z-index: 100;
}

.header .header-text {
  text-align: center;
}

.header .header-text .days {
  color: var(--color-red);
  margin-left: -2rem;
  font-weight: bold;
  font-family: var(--font-text);
}

.header .header-text .state {
  color: white;
  background-color: var(--color-blue);
  padding: .5rem 1rem .5rem 5rem;
  border-radius: 1rem;
  margin-left: -6rem;
  font-weight: 500;
  font-family: var(--font-text);
}


.header .header-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: 10%;
}

.header .header-content .header-text {
  display: flex;
  text-align: start;
  justify-content: center;
}

.header .header-content .header-text h2 {
  width: 75%;
  color: var(--color-blue);
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: xx-large;
  border-radius: 2rem;
  margin-top: -3rem;
  margin-left: 7.5rem;
}

.header .header-content .header-text span {
  color: var(--color-orange-dark);
}

.header .header-content .header-text div img {
  width: 60%;
}

.header .header-content .header-text p {
  width: 70%;
  font-size: 1.2rem;
}

.header .header-content .header-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.header .header-content .header-icons svg {
  color: var(--color-orange-dark);
  width: 30px;
  height: 30px;
}

.header .header-content .header-icons div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.header .header-content .header-icons div p {
  width: 100%;
  margin: 0;
}

.header .header-content .header-lotes {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header .header-content .header-lotes img {
  width: 75%;
}

.introducing {
  width: 50%;
  margin-inline: 10%;
  display: flex;
  justify-content: space-around;
}

.introducing-box {
  display: flex;
  text-align: center;
}

.introducing-box div {
  width: 7.5rem;
}

.event {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}

.event .event-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event .event-content h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.event .event-content h1 span {
  color: var(--color-orange-dark);
}

.event .event-content svg {
  width: 30px;
  height: 30px;
  color: var(--color-orange-dark);
}

.event .event-content .event-content-icons {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.event .event-content .event-content-icons div {
  width: 6rem;
}

.event .event-content h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-size: large;
}

.event .event-img {
  width: 40%;
}

.event .event-img img {
  width: 100%;
  mask-image: linear-gradient(to left,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.teachers {
  display: flex;
  flex-direction: column;
}

.teachers-content {
  display: flex;
  justify-content: center;
}

.teachers h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}

.teachers-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.teachers-box div {
  width: 12rem;
  height: 15rem;
  background-color: #C7352A;
  position: relative;
}

.teachers-box p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.teacher-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.agenda {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: 2rem;
}

.agenda h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.agenda h1 span {
  color: var(--color-orange-dark);
}

.agenda .agenda-content {
  display: flex;
  gap: 2rem;
  width: 90%;
  margin-inline: 5%;
  justify-content: center;
}

.agenda .agenda-content .agenda-content-box {
  padding: 1rem 4rem 5rem 1rem;
  border: 1.5px solid black;
  border-radius: 1rem;
  width: 30%;
}

.agenda .agenda-content .agenda-content-box h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.agenda .agenda-content .agenda-content-box:nth-child(1) h2 {
  color: var(--color-red);
}

.agenda .agenda-content .agenda-content-box:nth-child(2) h2 {
  color: var(--color-orange-dark);
}

.agenda .agenda-content .agenda-content-box:nth-child(3) h2 {
  color: var(--color-blue);
}

.agenda-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.local {
  margin-block: 2rem;
  display: flex;
  font-size: smaller;
}

.local .local-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.local .local-content h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 0;
}

.local .local-content svg {
  width: 30px;
  height: 30px;
  color: var(--color-blue);
}

.local .local-content .local-content-icons {
  display: flex;
  gap: .5rem;
}

.local .local-content .local-content-icons div {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.local .local-content .local-content-icons .local-content-icons-exception {
  display: flex;
  text-align: center;
}

.local .local-content .local-content-icons .local-content-icons-exception div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: xx-large;
  color: var(--color-blue);
  text-align: center;
}


.local .local-content h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-size: xx-large;
  color: var(--color-blue);
}

.local .local-img {
  width: 45%;
}

.local .local-img img {
  width: 100%;
  mask-image: linear-gradient(to right,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.money {}

.money .money-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.money .money-content .money-content-box-bill {
  border: 1.5px solid black;
  padding: 1rem 2rem 0rem 2rem;
  border-radius: 1rem;
}

.money .money-content .money-content-box-bill h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}

.money .money-content .money-content-box-bill h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: var(--color-orange-dark);
}

.money .money-content .money-content-box-bill .money-content-box-bill-price {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: .5rem;
}

.money .money-content .money-content-box-bill .money-content-box-bill-price div {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  border: .5px solid black;
  padding: 1rem .5rem;
  border-radius: .5rem;

}

.money .money-content .money-content-box-bill .money-content-box-bill-bill div span {
  color: var(--color-orange-dark);
  font-size: x-large;
}

.money .money-content .money-content-box-bill h3 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.money .money-content .money-content-box-party {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
  border: 1.5px solid black;
  padding: 1rem 2rem 0rem 2rem;
  border-radius: 1rem;
}

.money .money-content .money-content-box-party h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: var(--color-orange-dark);
}

.money .money-content .money-content-box-party h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
}

.money .money-content .money-content-box-party-price h2 {
  text-align: left;
  margin-bottom: .25rem;
}

.money .money-content .money-content-box-party-price div {
  width: 50%;
  margin-inline: 25%;
  display: flex;
  justify-content: space-between;
}

.money .money-content .money-content-box-party p {
  font-size: small;
}

.money .money-content .money-content-box-pix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  padding: 1rem 2rem 0rem 2rem;
}

.money .money-content .money-content-box-pix h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}

.money .money-content .money-content-box-pix h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
}

.money .money-content .money-content-box-pix h2 span {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
  color: var(--color-orange-dark);
}

.money-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -.5rem;
}


@media (max-width: 1000px) {
  .header .logo {
    width: 150px;
    height: 150px;
    z-index: 100;
  }

  .header .header-text {
    text-align: center;
    font-size: small;
  }
}

@media (max-width: 900px) {

  .header .header-content .header-text {
    font-size: x-large;
  }

}

@media (max-width: 600px) {
  .header .header-bg {
    display: none;
  }

  .header .header-bg-mobile {
    display: block;
  }

  .header .logo {
    width: 150px;
    height: 150px;
    z-index: 100;
  }

  .header .header-text {
    text-align: center;
    font-size: small;
  }

  .header .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header .header-content .header-text div img {
    width: 100%;
  }

  .header .header-content .header-text {
    font-size: large;
    padding-inline: 2rem;
  }

  .header .header-content .header-lotes img {
    width: 75%;
  }
}