/*
.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --color-red: #C7352A;
  --color-blue: #2FA7B0;
  --color-orange: #E79A4B;
  --color-green: #4CAF50;
  --color-orange-dark: #ff5416;

  --font-text: "Montserrat", sans-serif;
  /*--font-text2: "Source Sans 3", sans-serif;*/
  --font-text2: "Source Sans 3", sans-serif;
}

body {
  margin: 0;
  /*background-color: blanchedalmond;*/
}

p,
a,
li {
  font-family: var(--font-text);
  text-decoration: none;
}

a {
  color: #222;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

.btn-cta {
  text-decoration: none;
  background-color: var(--color-orange-dark);
  border: 0 solid;
  border-radius: .7rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: small;
  cursor: pointer;
}

.header {
  width: 100%;
  position: relative;
}

.header .header-side-nav {
  width: 70%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
  right: 0;
  box-shadow: -250px 0 250px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 1.5rem;
  transition: .5s;
}

.header .header-side-nav .logo-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

.header .header-side-nav .header-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 5%;
}

.header .header-side-nav .header-nav-list p,
.header .header-side-nav .header-nav-list a {
  margin: 0;
  padding-inline: 5%;
  padding-block: .5rem;
  cursor: pointer;
}

.header .header-side-nav-close {
  margin-right: -70%;
  box-shadow: none;
}

.header .header-side-nav-active {
  display: block;
}


.header .header-side-nav .header-side-nav-bg {
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.header .header-side-nav svg {
  width: 40px;
  height: 40px;
  margin: .5rem;
  padding: .5rem;
  top: 0;
  right: 0;
  cursor: pointer;
  position: absolute;
  color: var(--color-orange-dark);
}

.header-menu svg {
  position: fixed;
  top: 0;
  right: 0;
  color: var(--color-orange-dark);
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.header-imgs {
  display: flex;
  width: 100%;
}

.header .header-nav {
  width: 70%;
}

.header .header-nav .header-nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5rem;
  margin-top: 5.5rem;
}

.header .header-nav nav {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}


.header-bg {
  position: absolute;
  width: 100%;
  margin-inline: 0;
  opacity: 0.5;
  top: 0;
  z-index: -10;
  opacity: .8;

  
  -webkit-mask-image: linear-gradient(to bottom,
      black 0px,
      black 60%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%), linear-gradient(to left,
      black 0%,
      black 35%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
    );

  -webkit-mask-composite: destination-in;


  mask-image: linear-gradient(to bottom,
      black 0px,
      black 60%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%), linear-gradient(to left,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%), linear-gradient(to top,
      black 0%,
      black 5%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.header-bg-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -10;
  opacity: .3;

  mask-image: linear-gradient(to bottom,
      black 0px,
      black 60%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 70%,
      transparent 100%);
}

.header .logo {
  width: 150px;
  z-index: 100;
}

.header .header-text {
  text-align: center;
}

.header .header-text .days {
  color: var(--color-red);
  margin-left: -2rem;
  font-weight: bold;
  font-family: var(--font-text);
}

.header .header-text .state {
  color: white;
  background-color: var(--color-blue);
  padding: .5rem 1rem .5rem 5rem;
  border-radius: 1rem;
  margin-left: -6rem;
  font-weight: 500;
  font-family: var(--font-text);
}


.header .header-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: 10%;
}

.header .header-content .header-text {
  display: flex;
  text-align: start;
  justify-content: center;
  font-size: smaller;
}

.header .header-content .header-text h2 {
  width: 75%;
  color: var(--color-blue);
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 2rem;
  margin-top: -3rem;
  margin-left: 7.5rem;
  margin-bottom: 2rem;
  line-height: 1.75rem;
}

.header .header-content .header-text .year {
  width: 100%;
  color: var(--color-red);
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 3rem;
  margin-block: 0;
}

.header .header-content h3 {
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: .5rem;
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: var(--font-text2);
  color: var(--color-blue);
}

.header .header-content .header-text span {
  color: var(--color-orange-dark);
}

.header .header-content .header-text div img {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
}

.header .header-content .header-text p:not(h3) {
  width: 70%;
  font-size: medium;
}

.header .header-content .header-text .header-text-box {
  text-indent: 2rem;
}

.header .header-content .header-text .header-text-box-span {
  text-indent: 2rem;
  margin-top: -1rem;
}

.header .header-content .header-text .header-text-box-middle {
  text-align: center;
}

.header .header-content .header-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.header .header-content .header-icons svg {
  color: var(--color-orange-dark);
  width: 30px;
  height: 30px;
}

.header .header-content .header-icons div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.header .header-content .header-icons div p {
  width: 100%;
  margin: 0;
}

.header .header-content .header-btn {
  margin-top: 2rem;
}

.header .header-content .header-lotes {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.header .header-content .header-lotes img {
  width: 75%;
  min-width: 150px;
  margin-inline: 12.5%
}

.header .header-content .header-lotes .countdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header .header-content .header-lotes .countdown-box {
  background: #e5362c;
  border-radius: 28px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header .header-content .header-lotes .countdown-box h2 {
  color: #fff;
  font-size: medium;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: var(--font-text);
}

.header .header-content .header-lotes .countdown-timer {
  background: #fff;
  border-radius: 20px;
  display: flex;
  padding-inline: .5rem;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header .header-content .header-lotes .time-card {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .header-content .header-lotes .time-card span {
  font-weight: 800;
  color: #e5362c;
  line-height: 1;
  font-family: var(--font-text);
}

.header .header-content .header-lotes .time-card p {
  margin-top: 10px;
  font-weight: 700;
  font-size: smaller;
  color: #222;
  font-family: var(--font-text);
}

.header .header-content .header-lotes .divider {
  width: 2px;
  height: 50px;
  background: #e5362c;
  justify-self: end;
}

/* tablet 
@media (max-width: 768px) {
  .countdown-box h2 {
    font-size: 1.5rem;
  }

  .time-card span {
    font-size: 2.2rem;
  }

  .time-card p {
    font-size: 0.8rem;
  }
}*/

/* celular 
@media (max-width: 520px) {
  .countdown-timer {
    grid-template-columns: repeat(2, 1fr);
  }

  .divider {
    display: none;
  }

  .time-card {
    border: 1px solid #f1f1f1;
  }

  .countdown-box h2 {
    font-size: 1.1rem;
  }

  .time-card span {
    font-size: 2rem;
  }
}
*/

.introducing {
  width: 50%;
  margin-inline: 10%;
  display: flex;
  justify-content: space-around;
}

.introducing-box {
  display: flex;
  text-align: center;
}

.introducing-box div {
  width: 7.5rem;
}

.event {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}

.event .event-content {
  width: 55%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event .event-content h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.event .event-content h1 span {
  color: var(--color-orange-dark);
}

.event .event-content svg {
  width: 30px;
  height: 30px;
  color: var(--color-orange-dark);
}

.event .event-content .event-content-icons {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.event-content-icons-exception svg:nth-child(2) {
  margin-inline: -1rem;
  margin-bottom: -.2rem;
}

.event-content-icons-exception svg:nth-child(3) {
  transform: scaleX(-1);
}

.event .event-content .event-content-icons div {
  width: 6rem;
}

.event .event-content h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-size: large;
}

.event .event-img {
  width: 40%;
  z-index: -1;
}

.event .event-img img {
  width: 100%;
  mask-image: linear-gradient(to left,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.professional {
  display: flex;
  flex-direction: column;
}

.teachers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.professional h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  margin-bottom: 0;
}

.professional h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0;
}

.professional h2:nth-child(1) {
  color: var(--color-red);
}

.professional h2:nth-child(3) {
  color: var(--color-orange-dark);
}

.professional h2:nth-child(5) {
  color: var(--color-blue);
}

.professional p {
  margin: 0;
  text-align: center;
}

.teachers-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}

.teachers-box-grid {
  display: none;
  gap: 1rem;
  margin-top: 1rem;
}

.teachers-box div,
.teachers-box-grid div {
  cursor: pointer;
  width: 12rem;
  height: 15rem;
  border: .2rem solid #C7352A;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teachers-box div img,
.teachers-box-grid div {
  width: 12rem;
  border-radius: 1rem;
}

.teachers-box .interrogation img {
  width: 7.5rem;
  border-radius: 1rem;
}

.teachers-box p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.djs-box {
  display: flex;
  gap: 1rem;
}

.djs-box div {
  cursor: pointer;
  width: 12rem;
  height: 15rem;
  border: .2rem solid #C7352A;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.djs-box div img {
  width: 12rem;
  border-radius: 1rem;
}

.djs-box .interrogation img {
  width: 7.5rem;
  border-radius: 1rem;
}

.teacher-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.agenda {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: 2rem;
}

.agenda h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.agenda h1 span {
  color: var(--color-orange-dark);
}

.agenda .agenda-content {
  display: flex;
  gap: 2rem;
  width: 90%;
  margin-inline: 5%;
  justify-content: center;
}

.agenda .agenda-content .agenda-content-box {
  padding: 1rem 4rem 10rem 1rem;
  border: 1.5px solid black;
  border-radius: 1rem;
  width: 30%;
  position: relative;
  overflow: hidden;
}

.agenda .agenda-content .agenda-content-box div {
  position: relative;
  overflow: hidden;
}

.agenda .agenda-content .agenda-content-box img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.agenda .agenda-content .agenda-content-box:nth-child(1) img {
  margin-bottom: -25%;

  mask-image: linear-gradient(to top,
      black 0%,
      black 10%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 0.4) 90%,
      transparent 100%);
}

.agenda .agenda-content .agenda-content-box:nth-child(2) img {

  mask-image: linear-gradient(to top,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.agenda .agenda-content .agenda-content-box:nth-child(3) img {
  margin-bottom: -10%;

  mask-image: linear-gradient(to top,
      black 0%,
      black 10%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 0.4) 90%,
      transparent 100%);
}

.agenda .agenda-content .agenda-content-box h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
}

.agenda .agenda-content .agenda-content-box:nth-child(1) h2 {
  color: var(--color-red);
}

.agenda .agenda-content .agenda-content-box:nth-child(2) h2 {
  color: var(--color-orange-dark);
}

.agenda .agenda-content .agenda-content-box:nth-child(3) h2 {
  color: var(--color-blue);
}

.agenda .agenda-beans {
  border: 1.5px solid black;
  border-radius: 1rem;
  width: 85%;
  height: 175px;
  margin-inline: 7.5%;
  margin-top: -2.5rem;
  background-color: white;
  position: relative;
}

.agenda .agenda-beans img {
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;

  mask-image: linear-gradient(to right,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.agenda .agenda-beans .agenda-beans-title {
  display: flex;
}

.agenda .agenda-beans .agenda-beans-title h1 {
  margin-left: 300px;
  max-width: 17rem;
  text-align: center;
  margin-right: 5%;
  margin-bottom: 0rem;
}

.agenda .agenda-beans .agenda-beans-content {
  margin-left: 300px;
  margin-right: 5%;
}

.agenda .agenda-beans .agenda-beans-content p {
  margin-top: 0;
}

.agenda-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -1.75rem;
  z-index: 1;
}

.local {
  margin-block: 2rem;
  display: flex;
  font-size: smaller;
  align-items: center;
}

.local .local-content {
  width: 55%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.local .local-content h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 0;
}

.local .local-content svg {
  width: 30px;
  height: 30px;
  color: var(--color-green);
}

.local .local-content .local-content-icons {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.local .local-content .local-content-icons-grid {
  display: none;
}

.local .local-content .local-content-icons div,
.local .local-content .local-content-icons-grid div {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.local .local-content .local-content-icons .local-content-icons-exception {
  display: flex;
  text-align: center;
}

.local .local-content .local-content-icons .local-content-icons-exception div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: xx-large;
  color: var(--color-green);
  text-align: center;
}


.local .local-content h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-size: xx-large;
  color: var(--color-green);
}

.local .local-content p {
  margin-top: 0;
}

.local .local-img {
  width: 45%;
}

.local .local-img img {
  width: 100%;
  mask-image: linear-gradient(to right,
      black 0%,
      black 15%,
      rgba(0, 0, 0, 0.8) 65%,
      rgba(0, 0, 0, 0.4) 80%,
      transparent 100%);
}

.money {
  width: 90%;
  margin-inline: 5%;
}

.money .money-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.money .money-content .money-content-box-bill {
  border: 1.5px solid black;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.money .money-content .money-content-box-bill h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;

}

.money .money-content .money-content-box-bill h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: var(--color-orange-dark);
}

.money .money-content .money-content-box-bill .money-content-box-bill-price {

  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: .5rem;
  align-items: center;

}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content {

  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
  padding: .5rem .5rem 1rem .5rem;
  border-radius: .5rem;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content:nth-child(1) {
  background-color: rgb(255, 84, 22, 0.3);
}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content p {
  margin-bottom: 0;
}

.money .money-content .money-content-box-bill .money-content-box-bill-price .lote-atual {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -2rem;
  font-size: smaller;
  background-color: var(--color-blue);
  padding-inline: 2rem;
  transform: rotate(45deg)
}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content .day {
  margin-top: .2rem;
  font-size: .75rem;
  margin-inline: 1rem;
}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content .day-off {
  /*font-size: smaller;*/
  margin-inline: 0;
}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content:nth-child(1) {
  padding: 1rem 1rem 1.5rem 1rem;
  border: 2px solid var(--color-red);

}

.money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content span {

  color: var(--color-orange-dark);
  font-size: x-large;

}

.money .money-content .money-content-box-bill h3 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.money .money-content .money-content-box-party {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
  border: 1.5px solid black;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 1rem;
}

.money .money-content .money-content-box-party h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: var(--color-orange-dark);
}

.money .money-content .money-content-box-party h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
}

.money .money-content .money-content-box-party-price h2 {
  text-align: left;
  margin-bottom: .25rem;
}

.money .money-content .money-content-box-party-price div {
  width: 90%;
  margin-inline: 5%;
  display: flex;
  justify-content: space-between;
}

.money .money-content .money-content-box-party-price div:nth-child(1) {
  width: 90%;
  margin-inline: 5%;
  display: flex;
  justify-content: space-between;
}

.money-content-box-pix-tablet {
  display: none;
}

.money .money-content .money-content-box-pix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  padding: 1rem .5rem 0rem .5rem;
}

.money .money-content .money-content-box-pix h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
}

.money .money-content .money-content-box-pix h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
}

.money .money-content .money-content-box-pix h2 span {
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  text-align: center;
  color: var(--color-orange-dark);
}

.money-box-condition {
  margin-inline: 7.5%;
  text-align: center;
}

.money-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -.5rem;
}

.extra {
  width: 90%;
  margin-inline: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.extra h1 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  color: var(--color-blue);
  margin-bottom: 0;
}

.extra .extra-subtitle {
  margin-top: 0;
  text-align: center;
}

.extra .extra-content {
  display: flex;
}

.extra .extra-content svg:not(.clip-svg),
.extra-content-box-out svg {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
  color: var(--color-blue);
}

.extra .extra-content .clip-svg {
  color: var(--color-orange-dark);
}

.extra-content-box-out .extra-content-box-text .svg-out {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  margin-bottom: -.3rem;
  color: var(--color-green);
}

.extra .extra-content div {
  display: flex;
}

.extra .extra-content .extra-content-box .extra-content-box-text,
.extra-content-box-out .extra-content-box-text {
  display: flex;
  flex-direction: column;
  font-size: small;
  width: 12rem;
}

.extra-content-box-out {
  text-align: center;
  width: 16rem;
}

.extra-content-box-out .extra-content-box-text {
  width: 16rem;
}

.extra-content-box-out .extra-content-box-text p {
  margin-top: 0;
}

.extra .extra-content .extra-content-box .extra-content-box-text h2,
.extra-content-box-out .extra-content-box-text h2 {
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: medium;
  color: var(--color-blue);
  margin: 0;
}

.extra .extra-content .extra-content-box .extra-content-box-text p {
  margin: 0;
}

footer {
  position: relative;
}

footer h1 {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--font-text2);
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  color: white;
  bottom: 0;
  margin-bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  height: 150px;
  background-image: url('/images/Footer-img.png');
  background-repeat: repeat-x;
  background-size: 300px;
  background-position: bottom;
}

.footer-waves {
  position: absolute;
  margin-top: -175px;
  z-index: -10;
  display: flex;
  justify-content: space-between;
}

.footer-waves .footer-wave-1 {
  width: 30%;
}

.footer-waves .footer-wave-2 {
  width: 20%;
  margin-bottom: -3rem;
}


@media (max-width: 1100px) {
  .money-content-box-pix-tablet {
    display: flex;
  }

  .money .money-content-box-pix-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .money .money-content-box-pix-tablet h1 {
    text-transform: uppercase;
    font-family: var(--font-text2);
    font-weight: 700;
    font-size: x-large;
    text-align: center;
  }

  .money .money-content-box-pix-tablet h2 {
    text-transform: uppercase;
    font-family: var(--font-text2);
    font-weight: 700;
    font-size: medium;
    text-align: center;
  }

  .money .money-content-box-pix-tablet h2 span {
    margin-top: 0;
    text-transform: uppercase;
    font-family: var(--font-text2);
    font-weight: 700;
    font-size: medium;
    text-align: center;
    color: var(--color-orange-dark);
  }

  .money .money-content .money-content-box-pix,
  .money-content-box-pix {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header .logo {
    width: 150px;
    z-index: 100;
  }

  .header .header-text {
    text-align: center;
    font-size: small;
  }

  .header .header-content .header-lotes .time-card {
    padding-inline: .5rem;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(1) img {
    margin-bottom: 0;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(2) img {
    width: 130%;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(3) img {
    width: 110%;
    margin-bottom: 0;
  }

  .money .money-content .money-content-box-party {}

  .money .money-content .money-content-box-party-price div {
    width: auto;
    display: flex;
  }
}

@media (max-width: 900px) {

  .header .header-content .header-text {
    font-size: x-large;
  }

  .agenda .agenda-content {
    gap: 1rem;
  }

  .agenda .agenda-content .agenda-content-box h2 {
    margin-bottom: -1rem;
  }

  .agenda .agenda-content .agenda-content-box {
    padding-right: 1rem;
  }
}

@media (max-width: 860px) {

  .footer-waves {
    margin-top: -100px;
    z-index: -10;
  }

}

@media (max-width: 750px) {

  .header .header-content .header-text p:not(h3) {
    width: 90%;
  }

  .teachers-box div img,
  .teachers-box-grid div {
    width: 8.5rem;
  }

  .teachers-box div,
  .teachers-box-grid div {
    width: 8.5rem;
    height: 10.5rem;
  }

  .teachers-box .interrogation img {
    width: 5.5rem;
    border-radius: 1rem;
  }

  .agenda .agenda-beans .agenda-beans-content {
    text-align: center;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(1) img {
    width: 150%;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(2) img {
    width: 175%;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(3) img {
    width: 140%;
  }


  .extra .extra-content .extra-content-box .extra-content-box-text {
    width: 8rem;
  }

}

@media (max-width: 600px) {

  .header-menu svg {
    display: block;
  }

  .header .header-bg {
    display: none;
  }

  .header .header-bg-mobile {
    display: block;
  }

  .header .logo {
    width: 150px;
    z-index: 100;
  }

  .header .header-nav {
    display: none;
  }

  .header .header-content .header-text h2 {
    width: 100%;
    color: var(--color-blue);
    text-transform: uppercase;
    font-family: var(--font-text2);
    font-weight: 700;
    font-size: x-large;
    margin-top: 0rem;
    margin-left: 0;
    text-align: center;
  }

  .header .header-content .header-text .year {
    margin: 0;
  }

  .header .header-text {
    text-align: center;
    font-size: small;
  }

  .header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .header .header-content .header-text-subtitle {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .header .header-content .header-text div img {
    width: 80%;
    margin-inline: 10%;
  }

  .header .header-content .header-text {
    font-size: large;
    padding-inline: 2rem;
  }

  .header .header-content .header-text p:not(h3, .header .header-content .header-icons div p) {
    width: 100%;
    text-align: center;
    text-indent: 0;
  }

  .header .header-content .header-icons {
    justify-content: space-between;
    text-align: left;
  }

  .header .header-content .header-lotes img {
    width: 75%;
  }

  .header-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header .header-content .header-lotes {
    margin-top: 2.5rem;
    width: 90%;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .header .header-content .header-lotes img {
    width: 75%;
  }


  .header .header-content .header-lotes .countdown-wrapper {
    width: 75%;
    margin-inline: 12.5%;
  }

  .header .header-content .header-text p {
    width: 100%;
  }

  .event {
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    flex-direction: column;
  }

  .event .event-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .event .event-content .event-content-icons {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: .5rem;
  }

  .event .event-img {
    width: 100%;
    margin-top: -5rem;
  }

  .event .event-img img {
    width: 100%;
    mask-image: linear-gradient(to top,
        black 0%,
        black 15%,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0.4) 80%,
        transparent 100%);
  }

  .teachers-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }

  .teachers-box-grid {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .teachers-box-exception {
    display: none;
  }

  .agenda .agenda-content {
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .agenda .agenda-content .agenda-content-box {
    border: 1.5px solid black;
    border-radius: 1rem;
    width: 75%;
    padding-bottom: 1rem;
  }


  .agenda .agenda-beans {
    overflow: hidden;
    height: auto;
    padding-bottom: 1.5rem;
    margin-top: 0;
  }

  .agenda .agenda-content .agenda-content-box img {
    transform: translateX(0);
    width: 100%;
    position: static;
    left: 0;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(1) img {
    width: 115%;
    transform: translateX(-7.5%);
    margin-bottom: -80%;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(2) img {
    width: 125%;
    transform: translateX(-10%);
    margin-bottom: -10%;
  }

  .agenda .agenda-content .agenda-content-box:nth-child(3) img {
    width: 125%;
    transform: translateX(-10%);
    margin-bottom: -25%;
  }


  /*
  .agenda .agenda-beans img:nth-child(2) {
    bottom: 0;
    border-top-right-radius: 0;

    mask-image: linear-gradient(to left,
        black 0%,
        black 15%,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0.4) 80%,
        transparent 100%);
  }
  */


  .agenda .agenda-beans .agenda-beans-title {
    height: 160px;
  }

  .agenda .agenda-beans .agenda-beans-content {
    width: 90%;
    margin: 5%;
  }

  .agenda .agenda-beans .agenda-beans-content p {
    margin-top: 0;
  }

  .agenda-btn {
    margin-top: -3rem;
  }

  .local {
    flex-direction: column-reverse;
  }

  .local .local-content {
    width: 90%;
    margin-inline: 5%;
    justify-content: center;
    text-align: center;
  }

  .local .local-img {
    width: 100%;
    margin-top: -2.5rem;
  }

  .local .local-img img {
    width: 100%;
    mask-image: linear-gradient(to top,
        black 0%,
        black 15%,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0.4) 80%,
        transparent 100%);
  }

  .money {
    width: 90%;
    margin-inline: 5%;
  }

  .money .money-content {
    width: 80%;
    margin-inline: 10%;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0;
  }

  .money .money-content .money-content-box-bill,
  .money .money-content .money-content-box-party {
    border: none;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1rem;
  }

  .money-content-box-pix-tablet {
    flex-direction: column;
  }

  .money .money-content-box-pix-tablet h1,
  .money .money-content-box-pix-tablet h2 {
    margin: 0;
  }

  .money .money-content-box-pix-tablet h1 {
    margin-top: 1rem;
  }

  .extra .extra-content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .extra .extra-content .extra-content-box .extra-content-box-text,
  .extra-content-box-out .extra-content-box-text {
    width: 100%;
  }

  .footer-waves .footer-wave-1 {
    width: 50%;
  }

  .footer-waves .footer-wave-2 {
    width: 30%;
  }
}

@media (max-width: 550px) {

  .agenda .agenda-beans .agenda-beans-img {
    width: 100%;
    overflow: hidden;
  }

  .agenda .agenda-beans img {
    margin-top: -25%;
    height: auto;
    width: 100%;
    position: static;
    border-radius: 1rem;

    mask-image: linear-gradient(to bottom,
        black 0%,
        black 15%,
        rgba(0, 0, 0, 0.8) 65%,
        rgba(0, 0, 0, 0.4) 80%,
        transparent 100%);
  }

  .agenda .agenda-beans .agenda-beans-title {
    margin-top: -2.5rem;
    height: auto;
  }

  .agenda .agenda-beans .agenda-beans-title h1 {
    max-width: none;
    width: 100%;
    margin-inline: 5%;
    text-align: center;
  }
}

@media (max-width: 500px) {

  .teachers-box div,
  .teachers-box-grid div {
    width: 9.5rem;
    height: 12rem;

  }

  .teachers-box div img,
  .teachers-box-grid div {
    width: 9.5rem;
  }

  .teachers-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }

  .teachers-box-grid {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .teachers-box-exception {
    display: none;
  }

  .agenda h1 {
    width: 90%;
    margin-inline: 5%;
    text-align: center;
  }

  .money {
    width: 100%;
    margin: 0;
  }

  .money .money-content .money-content-box-bill,
  .money .money-content-box-pix-tablet {
    padding-inline: 1rem;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price {
    flex-direction: column;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10%;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content p:not(.lote-atual) {
    margin: 0;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content {
    gap: .5rem;
    align-items: center;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content:nth-child(1) {
    padding: 1rem;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content:nth-child(2),
  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: .5rem;
  }

  .money .money-content .money-content-box-bill .money-content-box-bill-price .money-content-box-bill-price-content div {
    display: flex;
    gap: .5rem;
    align-items: center;
  }
}

@media (max-width: 450px) {

  .header .header-content .header-text div img {
    width: 100%;
    margin: 0;
    min-width: 150px;
  }

  .header .header-content .header-icons {
    flex-direction: column;
  }

  .header .header-content .header-icons div {
    text-align: left;
  }

  .djs-box div img {
    width: 9.5rem;
  }

  .djs-box div {
    width: 9.5rem;
    height: 12rem;
  }

  .event .event-content h1,
  .event .event-content h2,
  .event .event-content .event-content-icons {
    width: 90%;
    margin-inline: 5%;
  }

  .local .local-content .local-content-icons-grid {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .local .local-content .local-content-icons .local-content-icons-grid-exception {
    display: none;
  }

  footer h1 {
    font-size: large;
  }

  .footer-waves {
    margin-top: -75px;
  }

  .footer-waves .footer-wave-1 {
    width: 60%;
  }

  .footer-waves .footer-wave-2 {
    width: 40%;
  }

}
